html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.title-reset {
  margin: 0;
  font-weight: normal;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-reset {
  margin: 0;
}

.fieldset-reset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-reset {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}
