.add-products__container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    gap: 70px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 87px;
  }
}

.add-products__title {
  position: relative;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 1;
  padding-top: 25px;
  padding-bottom: 26px;
  color: $basic-black;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding: 0;
    margin-bottom: 80px;
  }
}

.add-products__title-content {
  display: inline;
  background-color: $basic-white;
  padding-inline-end: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 40px;
  }
}

.add-products__product {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 1;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.add-products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
    border: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding: 0;
    border: none;
  }
}

.add-products__item {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-gray;

  &:last-child {
    border-bottom: 1px solid $special-gray;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    border: none;
    border-bottom: 1px solid $special-gray;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.add-products__product {
  text-transform: uppercase;
  padding-top: 13px;
  margin-bottom: 13px;
}

.add-products__text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.add-products__text {
  @include description-reset;
  line-height: 1;
}

.add-products__value {
  @include description-reset;
  line-height: 1;
}

.add-products__button {

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
