.additional-products__title {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 1;
  color: $basic-black;
}

.additional-products__product {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 1;
  color: $special-dark-grey-2;
}

.additional-products__list {
  @include list-reset;
}

.additional-products__text {
  @include description-reset;
  line-height: 1;
}

.additional-products__value {
  @include description-reset;
  line-height: 1;
}
