.advantages__title {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: advantages 0;
    column-gap: 58px;
    row-gap: 37px;
    padding-bottom: 47px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
    padding: 0;
    margin-bottom: 69px;
  }
}

.advantages__description {
  @include description-reset;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 60px;
    padding-top: 151px;
    padding-bottom: 57px;
  }
}

.advantages__item {
  position: relative;
  min-height: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../../images/icons/stack.svg#leaf-icon");
      background-size: 25px 28px;
    }
  }

  &--flask {
    &::before {
      background-image: url("../../images/icons/stack.svg#flask-icon");
      background-size: 27px 29px;
    }
  }

  &--eat {
    &::before {
      background-image: url("../../images/icons/stack.svg#eat-icon");
      background-size: 26px 30px;
    }
  }

  &--clock {
    &::before {
      background-image: url("../../images/icons/stack.svg#clock-icon");
      background-size: 27px 31px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: counter(advantages);
      counter-increment: advantages;
      font-family: $oswald-font;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      top: 0;
      left: 35%;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    width: calc((100% - 58px)/2);
  }

  @media (min-width: $desktop-width) {
    width: calc((100% - 77px * 3)/4);
  }
}
