.article {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $basic-grey, $basic-grey 462px, transparent 462px, transparent 100%);
    border-top: 1px solid $border-grey-2;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    gap: 79px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 224px;
  }
}

.article__title {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 146px;
  }
}

.article__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.article__stats-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 167px;
    margin-bottom: 99px;
  }
}

.article__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    padding-bottom: 0;
  }
}

.article__name {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.article__meaning {
  @include description-reset;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 1;
  color: $basic-black;
  text-transform: uppercase;
}

.article__price-wrapper {
  font-family: $oswald-font;
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 1;
    padding-top: 11px;
  }
}

.article__price {
  @include description-reset;
  color: $special-dark-grey;
  padding-bottom: 20px;

  @media (min-width:$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }
}

.article__sum {
  @include description-reset;
  @media (min-width: $tablet-width) {
    padding-top: 9px;
    align-self: end;
  }
}
