.article {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $basic-grey, $basic-grey 462px, transparent 462px, transparent 100%);
    border-top: 1px solid $border-grey-2;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.article__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.article__title {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 146px;
  }
}

.article__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.article__stats-wrapper {
  width: 280px;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.article__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.article__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  min-width: 125px;
  height: 70px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.article__name {
  position: relative;
  font-family: $lato-font;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $special-dark-grey;
  background-color: $basic-grey;
  width: 80px;
  height: 30px;
  bottom: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 130px;
    font-size: 14px;
    background-color: transparent;
  }
}

.article__meaning {
  @include description-reset;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 1;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;
  min-width: 125px;
  min-height: 55px;
  padding-top: 15px;
  border: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }
}

.article__price-wrapper {
  font-family: $oswald-font;
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.article__price {
  @include description-reset;
}

.article__sum {
  @include description-reset;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-self: normal;
  }
}

.article__slider {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}
