.button {
  display: block;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 10px 0 10px 0;
}
