.card__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.card__attribute {
  font-size: 12px;
  line-height: 16px;
}

.card__name {
  font-weight: 400;
}
