.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--form {
    background-color: $basic-grey;
    @media (min-width: $desktop-width) {
      background-color: inherit;
    }
  }
}

.contacts__content-wrapper {
  position: relative;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    top: 95px;
    background-color: $basic-white;
    width: 565px;
    min-height: 199px;
    z-index: 1;
  }
}

.contacts__slogan {
  @include description-reset;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  color: $special-dark-grey-3;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  @include description-reset;
  line-height: 20px;
  width: 140px;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__maps {
  display: block;
  border: none;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
