.data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 1220px;
    gap: 20px;
    padding: 0 70px 0 70px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}
