.footer {
  background-color: $basic-grey;
}

.footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__logo {
  display: block;
  align-self: center;
  padding-top: 40px;
  padding-bottom: 20px;

  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0 20px 0;
  gap: 24px;
  border-top: 1px solid $special-gray;
  border-bottom: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.footer__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: $special-grey-3;

  &:hover {
    background-color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    mask-image: url("../../images/icons/stack.svg#icon-vkontakte");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#icon-youtube");
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#icon-telegram");
  }
}

.footer__copyright {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  color: inherit;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 170px;
  }
}

.footer__copyright-content {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    mask-image: url("../../images/icons/stack.svg#htmlacademy-icon");
    width: 27px;
    height: 34px;
    background-color: $special-grey-3;
  }

  &:hover {
    color: $special-dark-grey;

    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.3;
    }
  }
}

