.header {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 55px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__logo {

  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.header__toggle {
  @include button-reset;
  background-image: url("../../images/icons/stack.svg#header-toggle-mobile");
  background-position: center;
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
  }
}
