.hero {
  font-family: $oswald-font;
  color: $basic-white;
  text-align: center;
  line-height: 1;
  background-color: $basic-green;
}

.hero__title {
  @include title-reset;
  font-size: 36px;
}

.hero__description {
  @include description-reset;
  font-size: 14px;
  text-transform: uppercase;
}
