.offers {
  position: relative;
  align-self: center;
  width: 280px;
  height: 290px;
  background-image: url("../../images/offers-cat-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding-top: 188px;
  padding-bottom: 43px;
  padding-left: 59px;
  padding-right: 59px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 280px;
    height: 290px;
    background-color: rgb(104, 183, 56, 0.85);
    z-index: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 100%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../images/icons/stack.svg#present-icon");
    background-position: center;
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      left: 77px;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/offers-cat-mobile@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/offers-cat-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    padding-top: 71px;
    padding-bottom: 69px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/offers-cat-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/offers-cat-desktop@1x.jpg");
    width: 245px;
    height: 100%;
    padding-top: 185px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/offers-cat-desktop@2x.jpg");
  }
}

.offers__description {
  @include description-reset;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 60px;
    margin-left: auto;
    margin-right: 125px;
    text-align: inherit;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;
  }
}
