.offers {
  background-color: $basic-green;
  padding-top: 60px;
  padding-bottom: 43px;
}

.offers__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
  width: 160px;
  margin: 50px auto 0;
}
