.products {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 77px 20px 24px 20px;
  gap: 21px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../images/icons/stack.svg#plus-icon");

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 431px;
    gap: 82px;
    padding: 160px 37px 40px 37px;
    border: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.products__wrapper {
  @media (min-width: $tablet-width) {
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.products__title {
  @include description-reset;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-3;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }
}

.products__description {
  @include description-reset;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
