.products {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    height: 429px;
    gap: 82px;
   }

   @media (min-width: $desktop-width) {
    height: 431px;
  }
}

.products__wrapper {
  @media (min-width: $tablet-width) {
    align-self: center;
    height: 217px;
    margin-top: 50px;
    margin-left: 77px;
    margin-right: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.products__title {
  @include description-reset;
  font-family: $oswald-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-3;
  text-align: center;
  text-transform: uppercase;
  padding-top: 53px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 110px;
    margin-bottom: 23px;
  }
}

.products__description {
  @include description-reset;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.products__button {
  background-color: $basic-grey;
  color: $special-dark-grey;
}
