.programs {
  font-family: $oswald-font;
}

.programs__title {
  font-size: 36px;
  line-height: 1;
  color: $basic-black;
}

.programs__description {
  color: $basic-black;
  text-align: left;
  text-transform: uppercase;
}
