.program-types__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.program-types__item {
  background-color: $basic-grey;
}

.program-types__title {
  @include title-reset;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;

  &--slim {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/stack.svg#cat-slim-mobile");
      width: 50px;
      height: 53px;
    }
  }

  &--pro {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/stack.svg#cat-pro-mobile");
      width: 67px;
      height: 50px;
    }
  }

}

.program-types__link {
  position: relative;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 1;
  color: $basic-black;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../images/icons/stack.svg#arrow-icon");
    width: 24px;
    height: 12px;
  }
}

.program-types__description {
  @include description-reset;
}
